* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header img, .secondary-header img, footer img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Esto asegura que los elementos se apilen verticalmente */
  justify-content: flex-start; /* Asegura que los elementos estén alineados al principio */
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* Fondo negro */
  color: #00FF00; /* Texto verde */
}

.main-header {
  width: 15%; /* Asegura que los encabezados ocupen todo el ancho */
}
.secondary-header {
  width: 60%;
}

/* Estilo para el título */
.secondary-header h1 {
  text-align: center; /* Centra el título */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  color: #00FF00; /* Color del texto verde */
  margin-bottom: 20px; /* Espacio debajo del título */
}

/* Estilo para los párrafos */
p {
  font-size: 1.2rem; /* Aumenta el tamaño de los párrafos */
  color: #00FF00; /* Color del texto verde */
  margin: 10px 0; /* Espacio entre los párrafos */
  line-height: 1.5; /* Aumenta el interlineado para mayor legibilidad */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
}

.gallery img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el footer */
footer {
  width: 15%;
  text-align: center;
  margin-top: 30px;
}
